<nav class="flex gap-2">
  <a href={{ route('home') }}>Home</a>
  <a href={{ route('movies.show', { slug: 'mon-super-film' }) }}>Film</a>
  <a href={{ route('movies.show', { slug: 'mon-super-film2' }) }}>Film2</a>
  <a href={{ route('movies.show', { slug: 'mon-super-film3' }) }}>Film3</a>
</nav>